extends layout

block content
	.container
		h2 Contact
		form(action='/contact/send', method='post')
			
			.form-group
			label(for='name') Name
			input#name.form-control(type='text', name='name',placeholder='Enter Name')
			.form-group
			label(for='email') Email
			input#email.form-control(type='email', name='email',placeholder='Enter Email')
			.form-group
			label(for='message') Message
			textarea#message.form-control(type='textarea', name='message', placeholder='Enter message')
			button.btn.btn-primary(type='submit' id='contactSubmit') Submit
