extends layout

block content

		.jumbotron
			.container
				h1 How may I help you?
				p welcome on the Stylish Text Generator,
					This generator let you add effect on a text. Two kinds of effects are available in this generator, the text effect and the text decoration. The text effect changes the letters of you text using special characters, accentuated characters, symbols or other languages characters. Decorations are sets of characters surrounding the text. To use the generator, you have to enter a word or a sentence in the "Text" field and you can choose a text effect and a decoration among those proposed.
				a.btn.btn-primary.btn-lg(href='#') Learn More &raquo;
		.container
			.row
				.col-md-4
					h2 About Us
					p this is about us tab. fhdkjhvkjsljlcajklshekhwauheuhfjhnkewnvmsdnvm
					a.btn.btn-default(href='#') View Details
				.col-md-4
						h2 Services
						p this is about us tab. This generator let you add effect on a text. Two kinds of effects are available in this generator, the text effect and the text decoration. The text effect changes the letters of you text using special characters, accentuated
						a.btn.btn-default(href='#') View Details
				.col-md-4
						h2 Get in touch
						p this is about us tab.This generator let you add effect on a text. Two kinds of effects are available in this generator, the text effect and the text decoration. The text effect changes the letters of you text using special characters, accentuated
						a.btn.btn-default(href='#') View Details
