doctype html
html
	head
		title Express Website
		
	link(href='stylesheets/bootstrap.css', rel='stylesheet')
	link(href='stylesheets/style.css', rel='stylesheet')
	link(rel='shortcut icon' href='data:image/x-icon;,' type='image/x-icon')
	body
		nav.navbar.nvbar-default.navbar-fixed-top
			.container
				navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
						span.sr-only Toggle Navigation
						span.icon-bar 
						span.icon-bar 
						span.icon-bar 
					a.navbar-brand(href='#') Express Website
				#navbar.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/') Members
						li
							a(href='/users/register') Register
						li
							a(href='/users/login') Log In
					ul.nav.navbar-nav.navbar-right
						li
							a(href='/users/logout') LogOut
		.container
			block content
	script(src='https://ajax.googleapis.com/ajax/libs/jquery//1.11.1/query.min.js')
	script(src='javascripts/popper.min.js')
	script(src='javascripts/bootstrap.js')
